## DataFrame 구조
### - index(row), column(column), data

In [1]:
import pandas as pd

In [2]:
num_list=range(0,51,10)

In [3]:
df_numlist = pd.DataFrame(data=num_list)

In [4]:
df_numlist

    0
0   0
1  10
2  20
3  30
4  40
5  50

## Series 구조
### - index(row), data

In [5]:
import pandas as pd
import numpy as np

In [6]:
single_data = np.arange(0.1, 0.6, 0.1)
single_data

array([0.1, 0.2, 0.3, 0.4, 0.5])

In [7]:
series_floats = pd.Series(data=single_data)

In [8]:
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [9]:
type(series_floats)

pandas.core.series.Series

## numpy를 이용해 random한 Dataframe 데이터 생성

In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.__version__

'1.5.3'

In [12]:
np.__version__

'1.24.3'

In [13]:
np.random.randint(0,100) # 0에서 99까지의 숫자 중 랜덤하게 하나의 정수 값을 출력

4

In [14]:
np.random.randint(0,100,size=(10, 5)) # size 옵션 : 10행 5열의 랜덤한 array 행렬

array([[39, 66, 27, 70, 24],
       [ 2, 12, 72, 20, 42],
       [28,  3, 23, 14, 32],
       [32, 25, 18, 24, 93],
       [32, 86, 85, 32, 65],
       [ 3, 51, 23,  6, 45],
       [91, 64, 46, 55, 50],
       [62, 11, 22, 94, 46],
       [39, 13, 62, 88, 22],
       [50, 56, 54, 76, 95]])

In [15]:
num_array = np.random.randint(0,100,size=(10, 5))

In [16]:
df_by_randint = pd.DataFrame(num_array)
df_by_randint

    0   1   2   3   4
0  60  16  13  81  93
1  98  95  73  74  56
2  19  83  31  40  70
3  82  69  93  89  38
4  65  84  65  66  53
5  18  37  32  75  61
6   4  34  66  11  54
7  99  87  70  23  13
8  31  81  71  38  72
9  49  57  26   4  21

## 파이썬 내장 random 모듈 이용해 random한 Dataframe 데이터 생성

In [17]:
import random

In [18]:
random.randrange(0, 100)

56

In [19]:
random_double_list = [[random.randrange(0, 100) for _ in range(5)] for _ in range(5)] # 이중 for문 이용해 array 행렬 작성

In [20]:
random_double_list

[[9, 7, 72, 67, 4],
 [65, 3, 34, 5, 69],
 [38, 81, 17, 87, 90],
 [77, 28, 0, 90, 70],
 [58, 19, 13, 7, 74]]

In [21]:
df_by_randrange = pd.DataFrame(random_double_list)

In [22]:
df_by_randrange

    0   1   2   3   4
0   9   7  72  67   4
1  65   3  34   5  69
2  38  81  17  87  90
3  77  28   0  90  70
4  58  19  13   7  74

## 수업

In [25]:
double_list = [
    [1000, '과자','2019-12-31','반품'],
    [2000, '음료', '2020-03-02', '정상'],
    [3000, '아이스크림', '2020-02-03','정상'],
    [1000,'과자','2019-12-31','반품']
    ]
df_sales = pd.DataFrame(data=double_list)
df_sales

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [26]:
df_sales = pd.DataFrame(data=double_list, columns=['가격','종류','판매일자','반품여부'])
df_sales

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [30]:
# dropped_df_sales=df_sales.drop('종류', '판매일자')
# dropped_df_sales

C:\Users\moony\AppData\Local\Temp\ipykernel_16848\2737702947.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dropped_df_sales=df_sales.drop('종류', '판매일자')

ValueError: No axis named 판매일자 for object type DataFrame

In [37]:
## 필터
condition = (df_sales['반품여부']=='정상')
condition

0    False
1     True
2     True
3    False
Name: 반품여부, dtype: bool

In [36]:
type(condition)

pandas.core.series.Series

In [38]:
df_sales.loc[condition]

     가격     종류        판매일자 반품여부
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상

In [51]:
## 필터 조건 여러개
## and & , or |
condition_or = (df_sales['가격']>=2500) | (df_sales['가격']<=1500)
condition_or

0     True
1    False
2     True
3     True
Name: 가격, dtype: bool

In [54]:
condition_and = (df_sales['반품여부']=='정상')  | (df_sales['종류']=='과자') & (df_sales['가격']>=1500)
condition_and

0    False
1     True
2     True
3    False
dtype: bool