## DataFrame 구조
### - index(row), column(column), data

In [1]:
import pandas as pd

In [2]:
num_list=range(0,51,10)

In [3]:
df_numlist = pd.DataFrame(data=num_list)

In [4]:
df_numlist

    0
0   0
1  10
2  20
3  30
4  40
5  50

## Series 구조
### - index(row), data

In [5]:
import pandas as pd
import numpy as np

In [6]:
single_data = np.arange(0.1, 0.6, 0.1)
single_data

array([0.1, 0.2, 0.3, 0.4, 0.5])

In [7]:
series_floats = pd.Series(data=single_data)

In [8]:
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [9]:
type(series_floats)

pandas.core.series.Series

## numpy를 이용해 random한 Dataframe 데이터 생성

In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.__version__

'1.5.3'

In [12]:
np.__version__

'1.24.3'

In [13]:
np.random.randint(0,100) # 0에서 99까지의 숫자 중 랜덤하게 하나의 정수 값을 출력

60

In [14]:
np.random.randint(0,100,size=(10, 5)) # size 옵션 : 10행 5열의 랜덤한 array 행렬

array([[34, 28, 81, 44, 93],
       [46, 87,  2, 97,  9],
       [22, 80, 37, 28, 94],
       [39, 80, 50,  1, 75],
       [79, 69, 87, 93, 24],
       [21, 37, 89, 68, 84],
       [ 4, 98, 87, 48, 64],
       [87, 43, 71, 38, 20],
       [43, 41, 47, 65, 49],
       [79, 99,  9, 28, 99]])

In [15]:
num_array = np.random.randint(0,100,size=(10, 5))

In [16]:
df_by_randint = pd.DataFrame(num_array)
df_by_randint

    0   1   2   3   4
0  69  25  81  10  54
1  19  90   0  39  64
2  23  18  75  91  19
3  69   4  66  68   2
4  71  33  21  78  62
5  43  87  95  83  89
6  50   7  73  16  39
7  53   3  20  31  33
8  25  43  25  42  26
9  91  44   8  58  16

## 파이썬 내장 random 모듈 이용해 random한 Dataframe 데이터 생성

In [17]:
import random

In [18]:
random.randrange(0, 100)

83

In [19]:
random_double_list = [[random.randrange(0, 100) for _ in range(5)] for _ in range(5)] # 이중 for문 이용해 array 행렬 작성

In [20]:
random_double_list

[[53, 64, 31, 71, 94],
 [4, 2, 69, 39, 60],
 [7, 26, 48, 71, 36],
 [18, 90, 44, 18, 4],
 [26, 3, 8, 77, 66]]

In [21]:
df_by_randrange = pd.DataFrame(random_double_list)

In [22]:
df_by_randrange

    0   1   2   3   4
0  53  64  31  71  94
1   4   2  69  39  60
2   7  26  48  71  36
3  18  90  44  18   4
4  26   3   8  77  66

## 수업

In [23]:
double_list = [
    [1000, '과자','2019-12-31','반품'],
    [2000, '음료', '2020-03-02', '정상'],
    [3000, '아이스크림', '2020-02-03','정상'],
    [1000,'과자','2019-12-31','반품']
    ]
df_double_list = pd.DataFrame(data=double_list)
df_double_list

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [24]:
df_double_list = pd.DataFrame(data=double_list, columns=['가격','종류','판매일자','반품여부'])
df_double_list

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품