# Type Of Contract Channel
Dataset from : https://blog.naver.com/data_station/222493245799

In [2]:
import pandas as pd
df_contract=pd.read_csv("../../datasets/TypeOfContractChannel.csv")
df_contract

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51299,66579515,NaN,Promotion,R관리방판,2020-02-03,60,무통장,K3,96900,계약확정,0,없음,NaN,롯데카드,정상,NaN,NaN
51300,66799558,렌탈,Normal,영업방판,2020-02-03,60,카드이체,K1,96900,해약확정,0,없음,8.0,롯데카드,해약,39.0,1753.0
51301,66799197,렌탈,Promotion,홈쇼핑/방송,2020-02-03,39,무통장,K5,120900,해약확정,0,없음,1.0,NaN,해약,51.0,2217.0
51302,66792778,NaN,Normal,렌탈총판,2020-02-03,60,카드이체,K1,96900,계약확정,0,없음,2.0,신한카드,정상,64.0,2588.0
51303,66799607,렌탈,Normal,하이마트,2020-02-03,60,CMS,K1,96900,해약확정,0,없음,8.0,농협은행,해약,53.0,2130.0

In [3]:
df_contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 51304 non-null  int64
 1   type_of_contract   51300 non-null  object
 2   type_of_contract2  51303 non-null  object
 3   channel            51304 non-null  object
 4   datetime           51304 non-null  object
 5   Term               51304 non-null  int64
 6   payment_type       51304 non-null  object
 7   product            51303 non-null  object
 8   amount             51304 non-null  int64
 9   state              51304 non-null  object
 10  overdue_count      51304 non-null  int64
 11  overdue            51302 non-null  object
 12  credit rating      42521 non-null  float64
 13  bank               48544 non-null  object
 14  cancellation       51279 non-null  object
 15  age                40509 non-null  float64
 16  Mileage            40509 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.7+ MB

In [8]:
column_list=df_contract.columns.tolist()

In [12]:
for col in column_list:
    print(col)
    print(df_contract[col].value_counts())
    print("="*40)

id
25777820    187
25869517     45
25733179     38
25722644     34
25863590     28
           ...
66150388      1
66771536      1
66430740      1
66642112      1
66777649      1
Name: id, Length: 43636, dtype: int64
========================================
type_of_contract
렌탈     46481
멤버십     4819
Name: type_of_contract, dtype: int64
========================================
type_of_contract2
Promotion           15811
Normal              15324
Package             10184
Extension_Rental     4975
TAS                  2627
TA2                  2087
Group                 190
TA3                    92
TA1                    13
Name: type_of_contract2, dtype: int64
========================================
channel
서비스 방문     15186
홈쇼핑/방송     12977
렌탈총판        5544
R관리방판       4727
하이마트        3227
영업방판        3039
렌탈재계약       2193
일반          1232
전자랜드        1205
R빌리미         560
이마트          265
홈플러스         225
R인터넷         198
R유통사         188
홈쇼핑/인터넷      177
R렌탈운영        120
R농협          119
R농협인터넷몰       83
R법인그룹         20
R법인           19
Name: channel, dtype: int64
========================================
datetime
2019-10-29    817
2019-11-25    805
2019-10-25    800
2019-10-22    786
2020-01-13    745
             ...
2020-01-25     30
2019-12-14     29
2019-10-20     28
2020-01-11     27
2020-01-06      1
Name: datetime, Length: 101, dtype: int64
========================================
Term
60    44536
36     3352
12     2651
39      765
Name: Term, dtype: int64
========================================
payment_type
CMS     32825
카드이체    15717
무통장      2085
가상계좌      612
지로         65
Name: payment_type, dtype: int64
========================================
product
K1    39134
K2     8995
K3     2082
K5      645
K4      327
K6      120
Name: product, dtype: int64
========================================
amount
96900     19006
81900      7973
105900     5588
90900      2990
66900      2436
          ...
104700        1
60603         1
136950        1
151200        1
111300        1
Name: amount, Length: 94, dtype: int64
========================================
state
계약확정     50350
해약확정       907
기간만료        33
해약진행중       14
Name: state, dtype: int64
========================================
overdue_count
 0     49096
 1       972
 2       389
 3       147
 12      113
 4       111
 5        74
 10       64
 7        59
 8        57
 11       56
 14       45
 9        44
 13       44
-1        17
 15       11
 6         5
Name: overdue_count, dtype: int64
========================================
overdue
없음    49112
있음     2190
Name: overdue, dtype: int64
========================================
credit rating
1.0     10778
2.0      8228
4.0      5379
3.0      4997
5.0      4317
6.0      3818
7.0      2717
8.0      1542
9.0       639
0.0        60
10.0       46
Name: credit rating, dtype: int64
========================================
bank
국민은행         9901
롯데카드         9518
농협은행         6278
신한은행         3522
우리은행         3386
기업은행         1963
신한카드         1533
하나은행         1446
국민카드         1311
BC카드         1264
새마을금고         964
부산은행          888
삼성카드          884
현대카드          876
대구은행          746
우체국           717
외환은행          586
외환카드          530
경남은행          442
SC제일은행        439
광주은행          347
신협중앙회         341
전북은행          195
씨티은행          162
수협중앙회         160
제주은행           40
유안타증권          27
산업은행           23
현대증권           11
삼성증권            7
하나SK            6
미래에셋증권          5
NH농협카드          4
한국투자증권          4
신한금융투자          4
우리카드            3
대우증권            2
하이투자증권          1
메리츠종합금융증권       1
수협카드            1
상호저축은행          1
SK증권            1
하나대투증권          1
산림조합중앙회         1
대신증권            1
씨티카드            1
Name: bank, dtype: int64
========================================
cancellation
정상    50372
해약      907
Name: cancellation, dtype: int64
========================================
age
43.0     1166
40.0     1146
42.0     1132
48.0     1113
47.0     1112
         ...
107.0       1
104.0       1
97.0        1
100.0       1
101.0       1
Name: age, Length: 84, dtype: int64
========================================
Mileage
2030.0    53
1814.0    50
1775.0    50
2010.0    48
1944.0    47
          ..
3127.0     1
3091.0     1
3031.0     1
3284.0     1
3280.0     1
Name: Mileage, Length: 2297, dtype: int64
========================================