# MongoDB에 연결하기

### Magic Option
jupiter notebook에서 외부 명령어를 사용하는 키<br>
mongodb package 설치를 위해 conda를 실행시켜야 한다.<br>
console로 가지 않고 바로 실행 시킬 수 있음 <br>
일반적인 명령어와 구분하기 위해서 붙이는 기호 __%__<br>

In [8]:
# %conda install pymongo

Retrieving notices: ...working... done
Note: you may need to restart the kernel to use updated packages.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\01-03\anaconda3

  added / updated specs:
    - pymongo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymongo-3.12.0             |  py311hd77b12b_0         1.5 MB
    ------------------------------------------------------------
                                           Total:         1.5 MB

The following NEW packages will be INSTALLED:

  pymongo            pkgs/main/win-64::pymongo-3.12.0-py311hd77b12b_0 



Downloading and Extracting Packages

pymongo-3.12.0       | 1.5 MB    |            |   0% 
pymongo-3.12.0       | 1.5 MB    | ##1        |  21% 
pymongo-3.12.0       | 1.5 MB    | ########## | 100% 
pymongo-3.12.0       | 1.5 MB    | ########## | 100% 
                                                     


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [9]:
import pymongo as mg
import pandas as pd

In [10]:
mg.__version__

'3.12.0'

In [11]:
pd.__version__

'1.5.3'

In [12]:
client = mg.MongoClient(host='mongodb://localhost:27017')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [13]:
database = client['db_NHIS']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [7]:
collection = database['NSC2_BND']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS'), 'NSC2_BND')

In [22]:
cursor = collection.find({})
list_cursor = list(cursor)

In [23]:
list_cursor2 = list(cursor)
list_cursor2

[]

In [24]:
df_BND=pd.DataFrame(list_cursor)
df_BND

                          _id  RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0    64d2fd0d9cc2c87df8aa8b4b   294364   1921LE    200707.0  T08-T14  W00-W19
1    64d2fd0d9cc2c87df8aa8b4c   646257   1921LE    200805.0  A15-A19      NaN
2    64d2fd0d9cc2c87df8aa8b4d   733575   1921LE    201309.0      G30      NaN
3    64d2fd0d9cc2c87df8aa8b4e   966199   1921LE    201409.0      J69      NaN
4    64d2fd0d9cc2c87df8aa8b4f   972598   1921LE    201205.0      C44      NaN
..                        ...      ...      ...         ...      ...      ...
995  64d2fd0d9cc2c87df8aa8f2e  2057743     2015         NaN      NaN      NaN
996  64d2fd0d9cc2c87df8aa8f2f  2063541     2015         NaN      NaN      NaN
997  64d2fd0d9cc2c87df8aa8f30  2070251     2015         NaN      NaN      NaN
998  64d2fd0d9cc2c87df8aa8f31  2077125     2015         NaN      NaN      NaN
999  64d2fd0d9cc2c87df8aa8f32  3000758     2015         NaN      NaN      NaN

[1000 rows x 6 columns]

In [25]:
df_BND.to_csv("./NSC2_BND.csv")