In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
database = client['db_NHIS']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [4]:
collection = database['NSC2_BNC_V2_1']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS'), 'NSC2_BNC_V2_1')

In [5]:
cursor = collection.find({})
list_cursor = list(cursor)

In [6]:
df_BNC=pd.DataFrame(list_cursor)
df_BNC

,_id,STD_YYYY,RN_INDI,SEX,SGG,GAIBJA_TYPE,SMPL_TYPE_CD,CTRB_Q10,G1E_OBJ_YN,DSB_TYPE_CD,DSB_SVRT_CD_V2
0,64d31122792a7d12dd64bdd8,2002,1433,1,29140,7,1,NaN,NaN,NaN,NaN
1,64d31122792a7d12dd64bdd9,2003,1433,1,29140,7,1,NaN,NaN,NaN,NaN
2,64d31122792a7d12dd64bdda,2004,1433,1,29140,7,1,NaN,NaN,NaN,NaN
3,64d31122792a7d12dd64bddb,2005,1433,1,29140,7,1,NaN,NaN,NaN,NaN
4,64d31122792a7d12dd64bddc,2006,1433,1,29140,7,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13022,64d31123792a7d12dd64f0b6,2012,3000357,2,28237,6,4,NaN,NaN,NaN,NaN
13023,64d31123792a7d12dd64f0b7,2013,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13024,64d31123792a7d12dd64f0b8,2014,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13025,64d31123792a7d12dd64f0b9,2015,3000357,2,28245,2,4,7.0,NaN,NaN,NaN
13026,64d31123792a7d12dd64f0ba,2015,3000758,1,41287,6,4,NaN,NaN,NaN,NaN

In [7]:
df_BNC.to_csv("./NSC2_BNC_V2_1.csv")