In [3]:
import pymongo as mg
import pandas as pd

In [4]:
client = mg.MongoClient(host='mongodb://localhost:27017')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
database = client['db_NHIS']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [6]:
collection = database['NSC2_BND']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS'), 'NSC2_BND')

In [7]:
cursor = collection.find({})
list_cursor = list(cursor)

In [9]:
df_BND=pd.DataFrame(list_cursor)
df_BND

                          _id  RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0    64d2fd0d9cc2c87df8aa8b4b   294364   1921LE    200707.0  T08-T14  W00-W19
1    64d2fd0d9cc2c87df8aa8b4c   646257   1921LE    200805.0  A15-A19      NaN
2    64d2fd0d9cc2c87df8aa8b4d   733575   1921LE    201309.0      G30      NaN
3    64d2fd0d9cc2c87df8aa8b4e   966199   1921LE    201409.0      J69      NaN
4    64d2fd0d9cc2c87df8aa8b4f   972598   1921LE    201205.0      C44      NaN
..                        ...      ...      ...         ...      ...      ...
995  64d2fd0d9cc2c87df8aa8f2e  2057743     2015         NaN      NaN      NaN
996  64d2fd0d9cc2c87df8aa8f2f  2063541     2015         NaN      NaN      NaN
997  64d2fd0d9cc2c87df8aa8f30  2070251     2015         NaN      NaN      NaN
998  64d2fd0d9cc2c87df8aa8f31  2077125     2015         NaN      NaN      NaN
999  64d2fd0d9cc2c87df8aa8f32  3000758     2015         NaN      NaN      NaN

[1000 rows x 6 columns]

In [10]:
df_BND.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         1000 non-null   object
 1   RN_INDI     1000 non-null   int64
 2   BTH_YYYY    1000 non-null   object
 3   DTH_YYYYMM  71 non-null     float64
 4   COD1        60 non-null     object
 5   COD2        7 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [11]:
df_BND.columns

Index(['_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1', 'COD2'], dtype='object')

In [16]:
dropped_BND=df_BND.drop(columns=['_id',])
dropped_BND

     RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0     294364   1921LE    200707.0  T08-T14  W00-W19
1     646257   1921LE    200805.0  A15-A19      NaN
2     733575   1921LE    201309.0      G30      NaN
3     966199   1921LE    201409.0      J69      NaN
4     972598   1921LE    201205.0      C44      NaN
..       ...      ...         ...      ...      ...
995  2057743     2015         NaN      NaN      NaN
996  2063541     2015         NaN      NaN      NaN
997  2070251     2015         NaN      NaN      NaN
998  2077125     2015         NaN      NaN      NaN
999  3000758     2015         NaN      NaN      NaN

[1000 rows x 5 columns]

In [17]:
dropped_BND.describe()

            RN_INDI     DTH_YYYYMM
count  1.000000e+03      71.000000
mean   6.404133e+05  201471.873239
std    5.241253e+05     432.203819
min    1.433000e+03  200707.000000
25%    2.812005e+05  201104.000000
50%    5.499230e+05  201508.000000
75%    8.177570e+05  201904.500000
max    3.000758e+06  202105.000000

In [18]:
dropped_BND.describe(include=object)

        BTH_YYYY COD1     COD2
count       1000   60        7
unique        95   42        6
top         1968  C34  W75-W84
freq          24    4        2

In [21]:
dropped_BND['BTH_YYYY'].value_counts()

1968    24
1960    24
1969    21
1967    21
1988    19
        ..
1929     1
1925     1
1924     1
1923     1
1922     1
Name: BTH_YYYY, Length: 95, dtype: int64

In [22]:
dropped_BND['BTH_YYYY'].unique()

array(['1921LE', 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
       1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941,
       1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952,
       1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963,
       1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015], dtype=object)